*{
    margin: 0px;
    padding: 0px;
    /* transition:  10s ease-in-out; */
}

.first{
    height: 100vh;
    width: 100vw;
    background-color:gainsboro;
     background-image: url("../images/pexels-belle-co-99483-1000445.jpg"); 
   background-repeat: no-repeat;
    background-size:cover; 
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.top{
    height:8vh;
    background-color:rgba(0, 0, 0, 0.412);
    width: 100vw;
    display: flex;
    justify-content: space-between;


}

.heading{
    margin-left: 0.8vw;
    font-size:1.5vw;
    font-family: "Times New Roman", serif;
    color: white;

}

.logoimg{
    height:5.7vh;
    width:4vw;

    
}

.logoo{
    height:8vh;
    width:15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}


.Btn{
    height:4vh;
    width:9vw;
    border-radius:13px;
    border:none;
    margin-top:2vh;
    font-size: 0.9vw;
}

.Btn:hover{
    background-color: rgb(87, 98, 95);
    color: white;
}

.btns{
    height:8vh;
    width:20vw;
    display: flex;
    justify-content: space-evenly;

}

.description{
    height: 17vh;
    width: 70vw;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.679),rgb(55, 43, 43));
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    border-radius: 15px;
    color: white;
}

.headingdesc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:serif;
    word-spacing: 0.7vw;
    letter-spacing: 0.1vw;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    font-size: 1.1vw;
}



.headingp{
    font-size: 1.02vw;
    margin:0 2.5vw 0 2.5vw;
    word-spacing: 0.3vw;
}
.containers{
    height:46vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.473);
   

}

.box{
    height:35vh;
    width:22vw;
    /* background-color: red; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}


.seconddown{
    height: 50vh;
    width: 100vw;
    background-image: url("../images/pexels-belle-co-99483-1000445-3.jpg");
    /* background-repeat: no-repeat; */


}

.headings{
    
height: 4vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.473);


}

.headings h2{
    margin-left: 4vw;
    margin-top: 2vh;
}

.headings a{
    color:white;
    font-size: 1.5vw;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

/* .description p{
        font-size: 1.2vw;
        margin:2vw;
        font-family:serif;
        font-weight: 500;
        word-spacing:0.15vw;
        line-height: 3.3vh;
} */