*{
    padding: 0px;
    margin: 0px;
}

.profileImage{
    height: 13vh;
    width: 27vw;
    display: flex;
    justify-content:center;
   
}
.profileImage img{
    height: 13vh;
    width: 8vw;
    border-radius: 50%;
   
}


.editfullpage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* color: white; */
}

.eDit{
    height: 100vh;
    width: 30vw;
    /* background-color:rgb(6, 6, 6); */
    background-color: whitesmoke;

}

.OthersidE{
    height: 100vh;
    width: 70vw;
  
    /* background-color: aqua; */
}

.HeAdinggg{
    width: 27vw;
    height: 6.2vh;
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 2vh; */
    margin-top: 0vh;
    font-size: 1vw;
    /* padding-top: 1vh; */
}

.HeAdinggg h1{
    margin-left: 7vw;
}


.emAil{
    margin-top: 1vh;
    height: 8vh;
    width: 27vw;
    margin-bottom: 1.5vh;

}

.emAil h4{
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1vw;
}
.emAil input{
    width: 19vw;
    height: 4.4vh;
    margin-left: 3vw;
    border-radius: 8px;
    border: 0.7px solid black;
    margin-bottom: 1vh;
    padding-left: 1vw;
}

.paSsword{
    height: 8vh;
    width: 27vw;
    margin-bottom: 1.5vh;

}

.paSsword h4{
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1vw;
}

.paSsword input{
    width: 19vw;
    height: 4.4vh;
    margin-left: 3vw;
    border-radius: 8px;
    border: 0.7px solid black;
    padding-left: 1vw;
   
}

.textBox{
    height: 11.5vh;
    width: 27vw;
    /* margin-bottom: 1vh; */

}


.textBox h4{
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1vw;
}


.textBox input{
    width: 19vw;
    height: 8vh;
    margin-left: 3vw;
    border-radius: 8px;
    border: 0.7px solid black;
    padding-left: 1vw;
   
}

.BTn{
    
        /* margin-top: 1vh; */
        margin-left: 3vw;
        height: 3vh;
        width: 5vw;
        background-color: white;
        border: 0.7px solid black;
        border-radius: 8px;
        font-size: 1vw;
        font-weight: 520;
        border: 0.5px solid black;

    
}


.BTn:hover{
    cursor: pointer;
    background-color: rgb(75, 134, 140);
    color: white;
}




@media only screen and (max-width: 600px){


  
    *{
        padding: 0px;
        margin: 0px;
    }
    
    .profileImage{
        height: 15vh;
        width: 100vw;
        display: flex;
        justify-content:center;
       
       
    }
    .profileImage img{
        height: 17vh;
        width: 25vw;
        border-radius: 50%;
       
    }
    
    
    .editfullpage{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        /* color: white; */
    }
    
    .eDit{
        height: 100vh;
        width: 100vw;
        /* background-color:rgb(6, 6, 6); */
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .OthersidE{
        height: 0vh;
        width: 0vw;
      
        /* background-color: aqua; */
    }
    
    .HeAdinggg{
        width: 100vw;
        height: 4vh;
        display: flex;
        justify-content: flex-start;
        /* margin-bottom: 2vh; */
        margin-top: 0vh;
        /* font-size: 2vw; */
        /* padding-top: 1vh; */
    }

    .HeAdinggg h1{
        margin-left: 35vw;
        font-size: 4.5vw;
    }
    
    
    .emAil{
        /* margin-top: 8vh; */
        height: 8vh;
        width: 60vw;
        margin-bottom: 1.5vh;
        margin-left: 5vw;
        
    
    }
    
    .emAil h4{
        margin-left: 16vw;
        margin-bottom: 1vh;
        font-weight: 600;
        font-size: 2.5vw;
    }
    .emAil input{
        width: 35vw;
        height: 4.2vh;
        margin-left: 16vw;
        border-radius: 8px;
        border: 0.7px solid black;
        margin-bottom: 1vh;
        padding-left: 1vw;
        font-size: 2vw;
    }
    
    .paSsword{
        height: 8vh;
        width: 60vw;
        margin-bottom: 1.5vh;
        margin-left: 5vw;
        
       
    
    }
    
    .paSsword h4{
        /* margin-left: 3vw; */
        margin-bottom: 1vh;
        font-weight: 600;
        font-size: 2.5vw;
        /* margin-left: 16vw; */
    }
    
    .paSsword input{
        width: 35vw;
        height: 4.4vh;
       
        border-radius: 8px;
        border: 0.7px solid black;
        padding-left: 1vw;
        margin-left: 16vw;
        font-size: 2vw;
       
    }
    
    .textBox{
        height: 11.5vh;
        width: 60vw;
        margin-bottom: 1.5vh;
        margin-left: 19vw;
    
    }
    
    
    .textBox h4{
        margin-left: 16vw;
        margin-bottom: 1vh;
        font-weight: 600;
        font-size: 2.5vw;
    }
    
    
    .textBox input{
        width: 45vw;
        height: 8vh;
        margin-left: 16vw;
        border-radius: 8px;
        border: 0.7px solid black;
        padding-left: 1vw;
        font-size: 2vw;
       
    }
    
    .BTn{
        
            margin-top: 1vh;
            margin-left: 16vw;
            height: 3vh;
            width: 12vw;
            background-color: white;
            border: 0.7px solid black;
            border-radius: 8px;
            font-size: 2vw;
            font-weight: 520;
            border: 0.5px solid black;
    
        
    }
    
    
    .BTn:hover{
        cursor: pointer;
        background-color: rgb(75, 134, 140);
        color: white;
    }
    

}