*{
    margin: 0px;
    padding: 0px;
}
.loginfullpage{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.loginsidepage{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.login{
    height: 100vh;
    width: 28vw;
    background-color: white;
    /* background-color: rgba(219, 234, 234, 0.697); */
}

.loginsidepage{
    height: 100vh;
    width: 72vw;
    
}

.firsthead{
    height: 4vh;
    width: 26vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vh;
    margin-left: 2vw;
}

.image{
    height: 5vh;
    width: 4vw;
}

.firsthead h2{
    margin-left: 0.3vw;
    font-weight: 800;
    font-size: 1.8vw;
}

.secondhead{

    height: 4vh;
    width: 25vw;
    margin-top: 5vh;
    
}

.secondhead h2{
    margin-left: 2.5vw;
    font-size: 2vw;
    font-weight: 500;
}

.thirdhead{

    height: 4vh;
    width: 27vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.thirdhead h2{
    margin-left: 2.5vw;
    font-size: 1.5vw;
    font-weight: 600;
}

.thirdhead a{
    font-size: 1.4vw;
    text-decoration: none;
    margin-left: 0.5vw;
    font-weight: 800;
    color: rgb(72, 72, 227);

}

.buttons{
    height: 6vh;
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}
.btn1{
    height: 6vh;
    width: 22vw;
    border-radius: 8px;
    border: 0.7px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: 700vw;
    background-color: rgb(255, 255, 255);
    
}

.glogo{
    height: 4vh;
    width: 3vw;
    margin-right: 0.1vw;
}

.fourthhead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
    margin-bottom: 4vh;
}

.fourthhead p{
   
    font-size: 1vw;
    font-weight: 100;
    color: rgb(68, 72, 72);
}

.email{
    height: 8vh;
    width: 27vw;
    margin-bottom: 1.5vh;

}

.email h4{
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1vw;
}
.email input{
    width: 20vw;
    height: 4.4vh;
    margin-left: 3vw;
    border-radius: 8px;
    border: 0.7px solid black;
    margin-bottom: 1vh;
}

.password{
    height: 8vh;
    width: 27vw;
}

.password h4{
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1vw;
}

.password input{
    width: 20vw;
    height: 4.4vh;
    margin-left: 3vw;
    border-radius: 8px;
    border: 0.7px solid black;
}

.btn2{
    margin-top: 7vh;
    margin-left: 3.3vw;
    height: 4vh;
    width: 7vw;
    background-color: white;
    border: 0.7px solid black;
    border-radius: 8px;
    font-size: 1.05vw;
    font-weight: 520;

}