*{
    margin: 0px;
    padding: 0px;
}

.Profile{

    height: 100vh;
    width:100vw;
    border: 1px solid none;
    display: flex;
    flex-direction: row;
}

.sidebarr{
    height: 4vh;
    width: 40vw;
    margin: 0px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: flex-start;
}
.personalDetails{

    height: 100vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.956);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    color: white;

}


.Image{
    height: 22vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

.Image img{
   
    width: 11.5vw;
    height: 20vh;
    border-radius: 50%;
}

.name{
    height: 3vh;
    width: 40vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 2.5vh;
    text-decoration: none;
}

.name h3{
    font-size: 1.5vw;
}

.Boxx{

    height: 7.5vh;
    width: 15vw;
    border: 1px solid none;
    display: flex;
    align-items: center;
    /* background-color: beige; */
    /* margin-bottom: 2vh; */
    margin-top: 2vh;

}

p{
    font-size: 1vw;
    padding:0;
    margin-top: 0.7vh;
    font-size: 1vw;
    font-weight: 50;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.immage{
    /* margin: 0.5rem; */
    height: 4vh;
    width: 2.5vw;
    margin-right: 1vw;
    margin-left: 2vw
    
}


.lgoutbtn button{
height: 4vh;
width: 6.5vw;
margin-top: 3vh;
border-radius: 15px;
border: none;
background-color: aliceblue;
font-size: 1.05vw;
}

.lgoutbtn button:hover{
    cursor: pointer;
    background-color:rgb(63, 63, 63);
    color: white;
}

.lgoutbtn{
    height: 4vh;
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.ProfileOther{
    height: 100vh;
    width: 60vw;
}


@media only screen and (max-width: 600px){



    *{
        margin: 0px;
        padding: 0px;
    }
    
    .Profile{
    
        height: 100vh;
        width:100vw;
        border: 1px solid none;
        display: flex;
        flex-direction: row;
    }
    
    .sidebarr{
        height: 4vh;
        width: 100vw;
        margin: 0px;
        /* background-color: aliceblue; */
        display: flex;
        justify-content: flex-start;
        padding-left: 1vw;
    }
    .personalDetails{
    
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.956);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        color: white;
    
    }
    
    
    .Image{
        height: 19vh;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aliceblue; */
    }
    
    .Image img{
       
        width: 27vw;
        height: 18vh;
        border-radius: 50%;
    }
    
    .name{
        height: 2vh;
        width: 70vw;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin-top: 4vh;
        text-decoration: none;
    }
    
    .name h3{
        font-size: 3.8vw;
    }
    
    .Boxx{
    
        height: 8vh;
        width: 90vw;
        border: 1px solid none;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: beige; */
        /* margin-bottom: 2vh; */
        margin-top: 2vh;
    
    }

    .Boxx div{
        height: 8vh;
        width: 15vw;

    }
    
     p{
        font-size: 2.4vw;
        padding:0;
        margin-top: 1.4vh;
        /* font-size: 1vw; */
        font-weight: 50;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    
    .immage{
        /* margin: 0.5rem; */
        height: 5vh;
        width: 7vw;
        margin-right: 2vw;
        margin-left: 2vw
        
    }
    
    
    .lgoutbtn button{
    height: 4vh;
    width: 15vw;
    margin-top: 3vh;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;
    font-size: 2.2vw;
    }
    
    .lgoutbtn button:hover{
        cursor: pointer;
        background-color:rgb(63, 63, 63);
        color: white;
    }
    
    .lgoutbtn{
        height: 4vh;
        width: 35vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vh;
    }
    
    .ProfileOther{
        height: 100vh;
        width: 0vw;
    }
    
    

}