.full{
    height: 100vh;
    width: 100vw;
    background-color:rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{

        height: 60vh;
        width: 30vw;
        background-color:whitesmoke;
        border-radius: 15px;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
}

.reset h3{
        font-size: 2vw;
        font-weight: 550;
        margin-top: 1vh;
        margin-bottom: 7vh;

       /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}


.enternew p{
   
    font-size: 1.1vw;
    font-weight: 550;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.enternew input{

    height: 5vh;
    width: 25vw;
    border-radius: 5px;
    border: 0.5px solid black;
    padding-left: 1vw;
}

.enternew button{

    margin-top: 5vh;
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: white;
}

.enternew button:hover{
    cursor: pointer;
    background-color: rgb(57, 57, 57);
    color: white;
}
